/*
 * Base Rules: https://smacss.com/book/type-base
 * "The default styling for how that element should look in all occurrences on the page."
 *
 * Should only target elements using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * Use of class or ID selectors should be avoided.
 * Use of !important should be avoided. 
 */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1rem;
}
