/*
 * Base Rules: https://smacss.com/book/type-base
 * "The default styling for how that element should look in all occurrences on the page."
 *
 * Should only target elements using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * Use of class or ID selectors should be avoided.
 * Use of !important should be avoided. 
 */

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  font-family: $base-font-family;
  font-size: 1.6rem;
}
main {
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}
a {
  color: $secondary-color;
  text-decoration: none;
}
