/*
 * Layout Rules: https://smacss.com/book/type-layout
 * "There is a distinction between layouts dictating the major and minor components of a page. The major components are referred to as Layout styles."
 *
 * Generally, a Layout style only has a single selector: a single ID or class name.
 *
 * Use of !important should be avoided.
 * Use ID selectors sparingly and mindfully.
 * Prefix class names with l- (for example, .l-fixed and .l-grid).
 */

#site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#site-footer {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
