//- app.pug

#site-app.app-container
  h1 Pug / SASS Quickstarter
  if youAreUsingPug
    p You are amazing
  else
    p Get on it!
    a(href="about", title="title") Get me somewhere
  p.
    Pug is a terse and simple tem fsd sdfplating language with a focus on performance and powerful features...