//- index.pug

doctype html
html(lang="en")
  //- contains everything that goes inside the <HEAD> tag.
  include includes/head.pug
  body
    include includes/header.pug

    main#site-main.container
      include app.pug

    include includes/footer.pug
    